language: node_js
node_js:
  - node

cache:
  directories:
    - node_modules

before_script:
  - yarn

script:
  - yarn run build

deploy:
    - gh
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        local_dir: build
        on:
          branch: master
    - surge
        provider: surge
        project: ./build/
        domain: blynk-client.surge.sh
