@import 'src/styles/variables.scss';

.chartContainer {
    flex-grow: 1;
    //background-color: $indigo1;
}

.svg {
    pointer-events: all;
}

.chartLine {
    fill: none;
    stroke-width: 2;
}

.leftAxis {
    :global {
        text {
            paint-order: stroke;
            stroke: $dark-gray3;
            stroke-width: 3px;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            font-weight: 600;
        }
    }
}

.tipMouseLine {
    stroke: $light-gray3;
    stroke-width: 1px;
}

.tipCircle {
    stroke-width: 2px;
    fill: $dark-gray1;
}

.tipText {
    transform: translate(6px, 4px);
    font-size: 12px;
    fill: $light-gray5;
}

.tipTime {
    font-size: 13px;
}

.tipTimeRect {
    fill: $light-gray3;
}
