.loading {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0.5;
}

.chart {
    flex-grow: 1;
    display: flex;
}

.widgetLabelContainer {
    display: flex;
}

.widgetLabel {
    margin-right: 10px;
}
