@import 'src/styles/variables.scss';

.root {
    position: absolute;
    padding: 5px;
    border-radius: 3px;
    color: $dark-gray5;
    background-color: $light-gray3;
    border: 1px solid $gray3;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.tabsRoot {
    padding: 0;
    background-color: inherit !important;
}

:global(.bp3-dark) .root {
    background-color: $dark-gray3;
    border: 1px solid $dark-gray1;
    color: $gray5;
}
